@model IEnumerable<DemoProject.Models.Alumni_CuuSV>
@using PagedList.Mvc
@{
    ViewBag.Title = "Index";
}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" integrity="sha512-..." crossorigin="anonymous" />
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<link rel="stylesheet" href="~/Public/Css/List.css" />

@*Tìm kiếm nâng cao*@
<h2>
    <span style="margin-right: 5px;"><button class="button-search-hide"><i class="fas fa-list"></i></button></span>Danh sách cựu sinh viên
</h2>

<div class="search-table">
    @using (Html.BeginForm("Filter", "CuuSinhVien", FormMethod.Get))
    {
        <div class="filter-section">
            <div class="filter-column">
                <label class="dropdown-label">Giới Tính:</label>
                <select id="GioiTinh" name="sex" class="form-control">
                    <option value="">-- Chọn Giới Tính --</option>
                    <option value="M">Nam</option>
                    <option value="F">Nữ</option>
                </select>
            </div>

            <div class="filter-column">
                <label class="dropdown-label">Loại Quyết Định:</label>
                <select id="LoaiQuyetDinh" name="LoaiQuyetDinh" class="form-control">
                    <option value="">-- Chọn Loại Quyết Định --</option>
                    @if (ViewBag.QuyetDinhDaoTaoList != null)
                    {
                        var quyetDinhSet = new HashSet<string>();
                        foreach (var quyetDinhDaoTao in ViewBag.QuyetDinhDaoTaoList as List<DemoProject.Models.Alumni_QuyetDinhDaoTao>)
                        {
                            if (!quyetDinhSet.Contains(quyetDinhDaoTao.LoaiQuyetDinh))
                            {
                                quyetDinhSet.Add(quyetDinhDaoTao.LoaiQuyetDinh);
                                <option value="@quyetDinhDaoTao.LoaiQuyetDinh" @(quyetDinhDaoTao.LoaiQuyetDinh == ViewBag.SelectedQuyetDinh ? "selected" : "")>@quyetDinhDaoTao.LoaiQuyetDinh</option>
                            }
                        }
                    }
                </select>
            </div>

            <div class="filter-column">
                <label class="dropdown-label">Năm Học:</label>
                <select id="NamHoc" name="NamHoc" class="form-control">
                    <option value="">-- Chọn Năm Học --</option>
                    @if (ViewBag.QuyetDinhDaoTaoList != null)
                    {
                        var namHocSet = new HashSet<string>();
                        foreach (var quyetDinhDaoTao in ViewBag.QuyetDinhDaoTaoList as List<DemoProject.Models.Alumni_QuyetDinhDaoTao>)
                        {
                            if (!namHocSet.Contains(quyetDinhDaoTao.NamHoc))
                            {
                                namHocSet.Add(quyetDinhDaoTao.NamHoc);
                                <option value="@quyetDinhDaoTao.NamHoc" @(quyetDinhDaoTao.NamHoc == ViewBag.SelectedNamHoc ? "selected" : "")>@quyetDinhDaoTao.NamHoc</option>
                            }
                        }
                    }
                </select>
            </div>

            <div class="filter-column">
                <label class="dropdown-label">Tên Ngành Học:</label>
                <select id="TenNganhHoc" name="TenNganhHoc" class="form-control">
                    <option value="">-- Chọn Ngành Học --</option>
                    @if (ViewBag.ThongTinDaoTaoList != null)
                    {
                        var nganhHocSet = new HashSet<string>();
                        foreach (var thongTinDaoTao in ViewBag.ThongTinDaoTaoList as List<DemoProject.Models.Alumni_ThongTinDaoTao>)
                        {
                            if (!nganhHocSet.Contains(thongTinDaoTao.TenNganhHoc))
                            {
                                nganhHocSet.Add(thongTinDaoTao.TenNganhHoc);
                                <option value="@thongTinDaoTao.TenNganhHoc" @(thongTinDaoTao.TenNganhHoc == ViewBag.SelectedNganhHoc ? "selected" : "")>@thongTinDaoTao.TenNganhHoc</option>
                            }
                        }
                    }
                </select>
            </div>

            <div class="filter-column">
                <label class="dropdown-label">Tên Khóa Học:</label>
                <select id="TenKhoaHoc" name="TenKhoaHoc" class="form-control">
                    <option value="">-- Chọn Khóa Học --</option>
                    @if (ViewBag.ThongTinDaoTaoList != null)
                    {
                        var khoaHocSet = new HashSet<string>();
                        foreach (var thongTinDaoTao in ViewBag.ThongTinDaoTaoList as List<DemoProject.Models.Alumni_ThongTinDaoTao>)
                        {
                            if (!khoaHocSet.Contains(thongTinDaoTao.TenKhoaHoc))
                            {
                                khoaHocSet.Add(thongTinDaoTao.TenKhoaHoc);
                                <option value="@thongTinDaoTao.TenKhoaHoc" @(thongTinDaoTao.TenKhoaHoc == ViewBag.SelectedKhoaHoc ? "selected" : "")>@thongTinDaoTao.TenKhoaHoc</option>
                            }
                        }
                    }
                </select>
            </div>

            <div class="filter-column">
                <label class="dropdown-label">Tên Niên Khóa:</label>
                <select id="TenNienKhoa" name="TenNienKhoa" class="form-control">
                    <option value="">-- Niên Khóa --</option>
                    @if (ViewBag.ThongTinDaoTaoList != null)
                    {
                        var nienKhoaSet = new HashSet<string>();
                        foreach (var thongTinDaoTao in ViewBag.ThongTinDaoTaoList as List<DemoProject.Models.Alumni_ThongTinDaoTao>)
                        {
                            if (!nienKhoaSet.Contains(thongTinDaoTao.NienKhoa))
                            {
                                nienKhoaSet.Add(thongTinDaoTao.NienKhoa);
                                <option value="@thongTinDaoTao.NienKhoa" @(thongTinDaoTao.NienKhoa == ViewBag.SelectedNienKhoa ? "selected" : "")>@thongTinDaoTao.NienKhoa</option>
                            }
                        }
                    }
                </select>
            </div>

            <div class="filter-column">
                <label class="dropdown-label">Tìm kiếm:</label>
                <input type="text" name="searchQuery" class="form-control" placeholder="Nhập từ khóa tìm kiếm">
            </div>

            <div class="button-search-container">
                <button type="submit" class="button-search"><i class="fas fa-search"></i><span style="margin-left: 5px;">Tìm kiếm</span></button>
                <a href="@Url.Action("Create")" class="button-search"><i class="fas fa-plus"></i><span style="margin-left: 5px;"> Thêm sinh viên</span></a>
                <button class="button-search" id="button-delete-selected"><i class="fas fa-trash"></i><span style="margin-left: 5px;">Xóa đã chọn</span></button>
            </div>
        </div>
    }
</div>
@*Danh sách cựu sinh viên*@

<table class="table">
    <tr>
        <th><input type="checkbox" id="selectAll"></th>
        <th>
            Mã số sinh viên
        </th>
        <th>
            Họ tên cựu sinh viên
        </th>
        <th>
            Mã định danh
        </th>
        <th>
            Giới tính
        </th>
        <th>
            Số điện thoại
        </th>
        <th>
            Địa chỉ liên hệ
        </th>
        <th>
            Ngày sinh
        </th>
        <th>Chức năng</th>
    </tr>
    @foreach (var item in ViewBag.SinhViens as List<DemoProject.Models.Alumni_CuuSV>)
    {
        <tr>
            <td>
                <input type="checkbox" name="selectedItems" value="@item.Id">
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MaSoSV)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.HoTen_CuuSV)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MaDinhDanh)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.GioiTinh)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SoDienThoai)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DiaChiLienHe)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NgaySinh)
            </td>
            <td>
                <a href="@Url.Action("Edit", new { id = item.Id })" class="button"><i class="fas fa-pencil-alt"></i></a> |
                <a href="@Url.Action("Details", new { id = item.Id })" class="button"><i class="fas fa-user"></i></a>
                <form action="@Url.Action("Delete", "CuuSinhVien")" method="post" onsubmit="return confirm('Bạn có chắc chắn muốn xóa?')">
                    @Html.Hidden("id", item.Id)
                    <button type="submit" class="button delete-button"><i class="fas fa-trash"></i></button>
                </form>
            </td>
        </tr>
    }
</table>
@*Phân trang*@
<div class="pagination">
    @if (ViewBag.TotalPages > 1)
    {
        <div class="pagination">
            @if (ViewBag.CurrentPage > 1)
            {
                <a class="page-link" href="?page=1&tenNganhHoc=@ViewBag.SelectedNganhHoc&tenKhoaHoc=@ViewBag.SelectedKhoaHoc&tenNienKhoa=@ViewBag.SelectedNienKhoa&loaiQuyetDinh=@ViewBag.SelectedQuyetDinh&namHoc=@ViewBag.SelectedNamHoc&sex=@ViewBag.Sex&searchQuery=@ViewBag.SearchQuery">&lt;&lt;</a>
                <a class="page-link" href="?page=@(ViewBag.CurrentPage - 1)&tenNganhHoc=@ViewBag.SelectedNganhHoc&tenKhoaHoc=@ViewBag.SelectedKhoaHoc&tenNienKhoa=@ViewBag.SelectedNienKhoa&loaiQuyetDinh=@ViewBag.SelectedQuyetDinh&namHoc=@ViewBag.SelectedNamHoc&sex=@ViewBag.Sex&searchQuery=@ViewBag.SearchQuery">&lt;</a>
            }

            @for (int i = 1; i <= ViewBag.TotalPages; i++)
            {
                <a class="page-link @(i == ViewBag.CurrentPage ? "active" : "")" href="?page=@i&tenNganhHoc=@ViewBag.SelectedNganhHoc&tenKhoaHoc=@ViewBag.SelectedKhoaHoc&tenNienKhoa=@ViewBag.SelectedNienKhoa&loaiQuyetDinh=@ViewBag.SelectedQuyetDinh&namHoc=@ViewBag.SelectedNamHoc&sex=@ViewBag.Sex&searchQuery=@ViewBag.SearchQuery">@i</a>
            }

            @if (ViewBag.CurrentPage < ViewBag.TotalPages)
            {
                <a class="page-link" href="?page=@(ViewBag.CurrentPage + 1)&tenNganhHoc=@ViewBag.SelectedNganhHoc&tenKhoaHoc=@ViewBag.SelectedKhoaHoc&tenNienKhoa=@ViewBag.SelectedNienKhoa&loaiQuyetDinh=@ViewBag.SelectedQuyetDinh&namHoc=@ViewBag.SelectedNamHoc&sex=@ViewBag.Sex&searchQuery=@ViewBag.SearchQuery">&gt;</a>
                <a class="page-link" href="?page=@ViewBag.TotalPages&tenNganhHoc=@ViewBag.SelectedNganhHoc&tenKhoaHoc=@ViewBag.SelectedKhoaHoc&tenNienKhoa=@ViewBag.SelectedNienKhoa&loaiQuyetDinh=@ViewBag.SelectedQuyetDinh&namHoc=@ViewBag.SelectedNamHoc&sex=@ViewBag.Sex&searchQuery=@ViewBag.SearchQuery">&gt;&gt;</a>
            }
        </div>
    }
</div>
    

@*Javascript*@
<script>
    //Hiển thị và ẩn tìm kiếm nâng cao
    $(document).ready(function () {
        var isSearchTableOpen = true;

        $('.button-search-hide').click(function () {
            if (isSearchTableOpen) {
                $('.search-table').hide(); // Đóng lớp search-table
                isSearchTableOpen = false;
            } else {
                $('.search-table').show(); // Mở lại lớp search-table
                isSearchTableOpen = true;
            }
        });
    });
    //Chọn checkbox
    $(document).ready(function () {
        $('#selectAll').click(function () {
            $('input[name="selectedItems"]').prop('checked', this.checked);
        });
    });
    //Xóa các checkbox đã chọn
   $(document).ready(function () {
    $('#button-delete-selected').click(function () {
        var selectedIds = [];
        $('input[name="selectedItems"]:checked').each(function () {
            selectedIds.push($(this).val());
        });

        if (selectedIds.length > 0) {
            if (confirm('Bạn có chắc chắn muốn xóa các mục đã chọn?')) {
                $.ajax({
                    url: '@Url.Action("DeleteSelectedItems", "CuuSinhVien")',
                    type: 'POST',
                    data: { ids: selectedIds },
                    success: function(response) {
                        location.reload();
                    },
                    error: function(xhr, status, error) {
                        console.log('Đã xảy ra lỗi trong quá trình xóa dữ liệu.');
                    }
                });
            }
        } else {
            alert('Vui lòng chọn ít nhất một mục để xóa');
        }
    });
});
</script>

